DB_HOST=localhost
DB_NAME=db
DB_USER=root
DB_PASS=""
DB_PORT=""


# JWT SECRET
JWT_SECRET=

# ADMIN
ADMIN_PASSWORD_HASH=


# CORS DEV CONFIG
ALLOWED_ORIGINS=http://localhost:5000
ALLOWED_METHODS=GET,POST,PATCH,OPTIONS
ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With
CORS_MAX_AGE=3600
ALLOW_CREDENTIALS=true


# CORS PROD CONFIG
# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=